.background-image {
    background-image: url(img/salaninja_edited2.jpg);
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    width: 100%; /* Define a largura do contêiner */
    height: 911px; /* Define a altura do contêiner, ajustável conforme necessário */
    position: relative; /* Permite sobreposição de elementos, se necessário */
}

li {
    margin-right: 5px;
    text-decoration: none;
}

.frente {
    position: relative;
}

.navbar-toggler .navbar-toggler-icon {
    background-color: white;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.container-fluid {
    z-index: 1;
}

.container {
    z-index: 1;
}

.h300 {
    max-height: 450px;  
    font-family: fantasy;
}

img {
    max-width: 40px;
    max-height: 40px;
}